@page "/"

<PageTitle>
    Sem Snel - Software engineer / Developer
</PageTitle>
<HeadContent>
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="Sem Snel, Developer, JavaScript">
    <meta name="author" content="Sem Snel">
</HeadContent>

<section>
    
</section>
<h1>Tailwind is added!</h1>
